.table-icon{
  font-size: 12px;
}
.box {
  padding:20px;
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.box-title {
  font-size: 13px;
  font-weight: 400;
  color:#b1b0b0;
}

.menu-icon{
  font-size: 17px;
  font-weight: 400;
  margin-right:15px;
}

div{
  width:100%;
}
